@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Product.Name</h1>
<hr />
<div>
    <img src="/image/@Model.Product.Image.Path" />
    <dl class="row">
        <dt class="col-sm-2">
            Brand
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Producer
        </dd>
        <dt class="col-sm-2">
            Model
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Model
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Description
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Category.Name
        </dd>
        <dt class="col-sm-2">
            Rate
        </dt>
        <dd class="col-sm-10">
            @Model.Product.AverageRate
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Price
        </dd>
    </dl>
    <div class="form-group">
        @if (Model.InShopingCart)
        {
            <p>Is already in shopping cart</p>
            <a class="btn btn-dark" href="/api/cart/remove/@Model.Product.Id?redirect=@Context.Request.Path">Remove from shopping cart</a>
        }
        else
        {
            <a class="btn btn-success" href="/api/cart/add/@Model.Product.Id?redirect=@Context.Request.Path">Add to shopping cart</a>
        }
    </div>
    <h1>Comments</h1>
    <form>
        @if (Model.InPurchase)
        {
            <fieldset>
                <div class="form-group">
                    <label for="disabledTextInput">Comment</label>
                    <input type="text" id="disabledTextInput" class="form-control text-lg-left" placeholder="Comment">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </fieldset>
        }
        else
        {
            <fieldset disabled>
                <div class="form-group">
                    <label for="disabledTextInput">Comment</label>
                    <input type="text" id="disabledTextInput" class="form-control" asp-route-Comment="@Model.Comment"/>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </fieldset>
        }
    </form>
    <div class="container">
        @if (Model.Comments.Count != 0)
        {
            <hr />
            @foreach (var i in Model.Comments)
            {

                <div class="comment">
                    <p>@i.User.Name @i.User.Surname</p>
                    
                    <p>@i.Text</p>
                </div>
            }
        }
    </div>

</div>